@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Fredericka+the+Great');

body {
  background-color: #0b2333;
  font-family: 'Amatic SC', cursive;
  font-weight: normal;
  font-size: 36px;
  color: #fd716f;
  text-align: left;
}

h1, h2, h3 {
  font-family: 'Fredericka the Great', cursive;
  font-weight: lighter;
  text-align: center;
}

h1 {
  font-size: 48px;
  color: #fdb292;
}

.container {
  background-color: #3d8b98
}

.Tasks {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: auto;
  height: 50%;
}

.Tasks li {
  list-style: none;


}